<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="true"
         version="3.0">

    <!-- required because ProxyServlet has assync-support and all filters must also set it to true -->
    <filter>
        <filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
        <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter
        </filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>entityManagerFactoryBeanName</param-name>
            <param-value>entityManagerFactory</param-value>
        </init-param>
    </filter>


    <filter>
        <filter-name>Spring OpenEntityManagerInViewFilter Ontology</filter-name>
        <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter
        </filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>entityManagerFactoryBeanName</param-name>
            <param-value>entityManagerFactoryOntology</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>Spring OpenEntityManagerInViewFilter Ontology</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy
        </filter-class>
        <async-supported>true</async-supported>
    </filter>

    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>LoginPageFilter</filter-name>
        <filter-class>
            com.gmi.nordborglab.browser.server.controller.LoginPageFilter
        </filter-class>
        <async-supported>true</async-supported>
    </filter>

    <filter-mapping>
        <filter-name>LoginPageFilter</filter-name>
        <url-pattern>/login</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>GzipFilter</filter-name>
        <filter-class>org.eclipse.jetty.servlets.AsyncGzipFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>methods</param-name>
            <param-value>GET,POST</param-value>
        </init-param>
        <!-- required because if GWT creates .gz files DispatchServlet won't serve them automatically -->
        <init-param>
            <param-name>checkGzExists</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>excludedMimeTypes</param-name>
            <param-value>
                application/compress,application/zip,application/gzip
            </param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>GzipFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:META-INF/applicationContext.xml
        </param-value>
    </context-param>

    <listener>
        <listener-class>
            org.springframework.web.context.request.RequestContextListener
        </listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <servlet>
        <servlet-name>requestFactoryServlet</servlet-name>
        <servlet-class>com.google.web.bindery.requestfactory.server.RequestFactoryServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>symbolMapsDirectory</param-name>
            <!-- You'll need to compile with -extras and move the symbolMaps directory
                 to this location if you want stack trace deobfuscation to work -->
            <!-- use that for local testing when running with mvn jetty:run -->
            <!--<param-value>target/genophenbrowser-server-1.0-SNAPSHOT/WEB-INF/classes/symbolMaps/</param-value>-->
            <param-value>/WEB-INF/classes/symbolMaps/</param-value>
        </init-param>
        <init-param>
            <param-name>useContextPath</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>spring</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>HDF5GWASDataServlet</servlet-name>
        <servlet-class>
            org.springframework.web.context.support.HttpRequestHandlerServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DOIProxy</servlet-name>
        <servlet-class>org.eclipse.jetty.proxy.ProxyServlet$Transparent</servlet-class>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>proxyTo</param-name>
            <param-value>http://data.crossref.org</param-value>
        </init-param>
        <init-param>
            <param-name>Prefix</param-name>
            <param-value>/doi</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ErraiServlet</servlet-name>
        <servlet-class>org.jboss.errai.bus.server.servlet.StandardAsyncServlet</servlet-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>auto-discover-services</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>spring</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErraiServlet</servlet-name>
        <url-pattern>*.erraiBus</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>requestFactoryServlet</servlet-name>
        <url-pattern>/gwtRequest</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>HDF5GWASDataServlet</servlet-name>
        <url-pattern>/gwasdata</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DOIProxy</servlet-name>
        <url-pattern>/doi/*</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/error/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/jsp/error/404.jsp</location>
    </error-page>
    <error-page>
        <location>/WEB-INF/jsp/error/error.jsp</location>
    </error-page>

</web-app>
