<Configure class="org.eclipse.jetty.webapp.WebAppContext">
    <Call name="setInitParameter">
        <Arg>org.eclipse.jetty.servlet.Default.useFileMappedBuffer</Arg>
        <Arg>false</Arg>
    </Call>
    <Call name="prependServerClass">
        <Arg>-org.eclipse.jetty.proxy.</Arg>
    </Call>
</Configure>
