@CHARSET "UTF-8";

.cellListWidget {

}

.cellListEvenItem {
    cursor: pointer;
    zoom: 1;
}

.cellListOddItem {
    cursor: pointer;
    zoom: 1;
}

.cellListKeyboardSelectedItem {

}

.cellListSelectedItem > div > div {
    -webkit-box-shadow: 0px 0px 5px 0px green !important;
    -moz-box-shadow: 0px 0px 5px 0px green !important;
    box-shadow: 0px 0px 5px 0px green !important;
    cursor: text !important;
}