@CHARSET "UTF-8";

.sign_in_container {
    width: 600px;
    display: block;
    margin: 85px auto 0 auto;
    background: #f9f9f9;
    border: 1px solid #d5d5d5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #838383;
    font: 15px/1.7em 'Open Sans';
}

.forgot_password_container {
    width: 380px;
    display: block;
    margin: 85px auto 0 auto;
    background: #f9f9f9;
    border: 1px solid #d5d5d5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #838383;
    font: 15px/1.7em 'Open Sans';
}

.sign_up_container {
    width: 380px;
    display: block;
    margin: 85px auto 0 auto;
    background: #f9f9f9;
    border: 1px solid #d5d5d5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #838383;
    font: 15px/1.7em 'Open Sans';
}

.content {
    padding: 16px 28px 23px;
}

.content h1 {
    margin-bottom: .4em;
    color: #263849;
    font-size: 30px;
    margin-top: 0;
    font-weight: 600;
}

.remember_me {

}

.sub_container {
    margin-top: 20px;
    padding: 10px 0 15px;
    border: 1px dotted #CCC;
    border-right: none;
    border-left: none;
    border-bottom: none;

}